.productsContainerWp {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -80px;
}

.productsHeroContainer {
  
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroTextContainer {
  width: 50%;
  height: 70%;
  margin: auto auto auto 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", serif;
}

.heroTextContainer h1 {
  font-size: 3rem;
  letter-spacing: 3px;
}

.heroTextContainer p {
  font-size: 1.5rem;
}

.heroTextContainer span {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.heroImgContainer {
  width: 50%;
  height: 70%;
  margin: auto 2rem auto auto;
}

.heroImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productsCategoryContainer {
  background-color: green;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryContainerInner{
    background-color: aquamarine;
    width: 80%;
    height: 100%;
}
